<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagecontent</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">


    <!-- globalstyle -->
    <link rel="stylesheet" href="../css/globalstyle.css">
    <!-- globalattributes -->
    <link rel="stylesheet" href="../css/globalattributes.css">

    <style>
        h2{
            font-size: var(--font-size-contenttitle);
            color: var(--color-tangerine);
        }

        p{
            font-size: var(--font-size-content);
        }

        /* 地圖 */
        .map {
            margin-top: 1em;
            float: left;
            width: 50%;
            padding-top: 20px;
        }


        /* 聯絡我們垂直置中 */
        .wrap {
            width: 50%;
            display: flex;
            text-align: left;
            padding-left: 10%;
            padding-top: 30px;

        }

        
        .txt {
            width: 100%;
            vertical-align: middle;
            padding-left: 20px;
        }

    </style>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">

            <!-- border border-primary  -->
            <div class="col-11 mt-4 px-0">

                <h1 class="fs-2 fw-bolder mb-4"><span class="text-black">聯絡我們</span></h1>

                <div class="bg-white rounded-3 shadow-sm py-4 px-4 w-100 h-auto mb-4">
                    
                    <div class="info">
                        <div class="container">

                            <div class="map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.604292585092!2d120.64881961536761!3d24.150531079288644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d9650422ae1%3A0x334dfd5796c49ff6!2z6LOH562W5pyDLeaVuOS9jeaVmeiCsueglOeptuaJgC3kuK3ljYDoqJPnt7TkuK3lv4M!5e0!3m2!1szh-TW!2stw!4v1657597833286!5m2!1szh-TW!2stw"
                                    width="650" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <div class="form">
            
                                <div>
            
                                    <div class="wrap">
                                       <div class="txt">
                                            <h2><i class="fas fa-clock me-2"></i>服務時間</h2>
                                            <p>周一～周五：09：00～18：00</p>
                                        </div>
                                    </div>
            
                                    <div class="wrap">
                                        <div class="txt">
                                            <h2><i class="fas fa-phone-square-alt me-2"></i>聯絡電話</h2>
                                            <p>(04)-2326-5860</p>
                                        </div>
                                    </div>
            
                                    <div class="wrap">
                                        <div class="txt">
                                            <h2><i class="fas fa-envelope me-2"></i>客服信箱</h2>
                                            <p>service@nsy.com</p>
                                        </div>
                                    </div>
            
                                    <div class="wrap">
                                        <div class="txt">
                                            <h2><i class="fas fa-map-marker-alt me-2"></i>公司位置</h2>
                                            <p>台中市南屯區公益路二段51號18樓</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>

</html>